table {
	margin-left:auto;
	margin-right:auto;
}

td {
	width:200px;
	height:200px;
	border:#000 1px solid;
	transition:all 0.4s ease-in-out;
	text-align:center;
	font-size:150px;
}

td:hover {
	background-color:#EBEBEB;
	transition:all 0.4s ease-in-out;
	cursor:pointer;
}