h1{

    font-family: 'Lobster', cursive;

}
img{
  border-style: groove;
}
.divider{
  border: 1px #solid;
  margin: auto;
  color: rgb(109, 111, 114);
}
.assignments{
  float: right;
  border: 3px solid #73AD21;
  padding: 10px 25px 10px 25px
}
body{
  background-color: rgb(109, 111, 114);
  color: #ffffff;
  margin: 100px;

}
h2 {
    font-family: 'Lobster', cursive;
}
ul{
  font-family: 'Dancing Script', cursive;
}
a{
  color: #A1FC03;
}
.container{
  border: 3px solid #73AD21;
  padding: 40px;
  margin: 20px auto;
  column-count: 5;
}
