
body{
  margin: 50px;
}
header h1{
  color: rgb(196, 72, 76);
  font-size: 30px;
  display: inline;
  font-family: 'Open Sans', sans-serif;
}
header h5{
  color: rgb(186,186,186);
  display: inline;
  font-size: 20px;
  padding-left: 15px;
  font-family: 'Open Sans', sans-serif;
}


nav ul{
  padding-left: 0;

}
header nav ul li{
  list-style: none;
  width: 16.66%;
  height: 50px;
  border: #ffffff solid 1px ;
  box-sizing: border-box;
  float: left;
  background-color: black;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
  margin-top: 15px;
}


section{
  float: left;
  width: 60%;


}
section p{
  font-family: 'Open Sans', sans-serif;
}
.date{
  font-family: 'Open Sans', sans-serif;
  color: rgb(213, 213, 213);
  font-size: 23px;
  padding-top: 25px;
}
.subtitle{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}
.col4{
  width: 100%;
  height: 250px;

}
.continues{
  float: right;
  color: rgb(196, 72, 76);
}
strong{

}
aside{
  width: 33.36%;
  float: right;
  margin-top: 15px;
}
.about{
padding-top: 40px;
  color: rgb(150, 150, 150);
  font-family: 'Open Sans', sans-serif;
}
.about_p{
font-family: 'Open Sans', sans-serif;
}
.archive{
  color: rgb(196, 72, 76);
  font-family: 'Open Sans', sans-serif;
}
.more{
  color: rgb(196, 72, 76);
  float: right;
  font-family: 'Open Sans', sans-serif;
}
.ad{
  background: grey;
  width: auto;
  height: 200px;
  text-align: center;

}
footer{
  clear: both;

}
.footer{
      color: rgb(196, 72, 76);
}
