	/*********** GLOBAL STYLES ***********/

	body,
	html {
		height: 100%;
		margin: 0;
		padding: 0; 
	}

	/*********** LAYOUT ***********/

	header {

	}

	section {

	}

	aside {

	}

	footer {

	}

	/*********** OTHER STYLES ***********/



	/*********** MEDIA QUERIES ***********/


